.navbar{
    box-shadow: 5px 5px 10px rgb(55 94 148 / 20%), -5px -5px 10px rgb(255 255 255 / 40%);
}

.menu {
    font-weight: 400;
    font-size: 1.2rem;
}

.navbar-brand img{
    max-width: 65px;
    max-height: 65px;
}